.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(135deg, var(--ifm-color-primary-darkest) 0%, var(--ifm-color-primary) 100%);
  color: white;
}

.heroTrivia {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 500;
  color: var(--color-gold-lighter);
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.sakuraContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}